<%- include('../partials/header') %>

<style>
    
</style>
<div class="grid">
    <div class="row">
        <div class="col text-center">
            <% for (var i = 0; i < products.imageLinks.length; i++) { %>
                <img style="height:20vh;  padding: 8px;" class="img-fluid"  src="<%= products.imageLinks[i] %>" >
                <% }; %>
        </div>
    </div>
    <div class="row">
        <div class="col" style="margin: 30px;">
            <h3 style="text-align: center;"><%= products.shoeName %></h3>
            <h4 style="text-align: center;">Release Date: <%= products.releaseDate %></h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p style="background-color: lightgrey; margin: 15px; padding: 15px; font-size: 20px;"><%= products.description %></p>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered border-primary">
                <tr><br>
                    <th>Size:</th>
                    <th>4</th>
                    <th>4.5</th>
                    <th>5</th>
                    <th>5.5</th>
                    <th>6</th>
                    <th>6.5</th>
                    <th>7</th>
                    <th>7.5</th>
                    <th>8</th>
                    <th>8.5</th>
                    <th>9</th>
                    <th>9.5</th>
                    <th>10</th>
                    <th>10.5</th>
                    <th>11</th>
                    <th>12</th>
                    <th>13</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="background-color: lightgrey;"><a class="btn btn-outline-primary" href="<%= products.resellLinks['stockX'] %>">StockX</a></td>
                        <% for (var i = 0; i < products.imageLinks.length; i++) { %>
                            <td><%= %></td>
                            <% }; %>
                    </tr>
                    <tr>
                        <td style="background-color: lightgrey;" ><a class="btn btn-outline-primary" href="<%= products.resellLinks['goat'] %>">GOAT</a></td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                      </tr>
                      <tr>
                        <td style="background-color: lightgrey;" ><a class="btn btn-outline-primary" href="<%= products.resellLinks['flightClub'] %>">Flight Club</a></td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                      </tr>
                  </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            RATING: 
            <br>
            REVIEW AREA 
        </div>
    </div>
</div>


<%- include('../partials/footer') %>