<%- include('../partials/header') %>

<style>
  td {
    text-align: center;
  }
</style>

<div class="yeezy">
  <table style="font-size: 25px" class="table table-borderless">
    <thead>
      <tr>
        <br />
        <h1 style="text-align: center">YEEZY</h1>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% yeezy.forEach(function(ye) { %>
      <tr>
        <td>
          <img
            style="height: 60px"
            class="rounded float-start"
            src="<%= ye.thumbnail %>"
          />
        </td>
        <td><%= ye.shoeName %><br /><%= ye.releaseDate %></td>
        <td>
          <a
            class="btn btn-outline-dark"
            href="/owned/<%= ye.styleID %>"
            style="font-size: 15px"
            >Add to Owned Collection</a
          >
        </td>
        <td>
          <a
            class="btn btn-outline-dark"
            href="/watchlist/<%= ye.styleID %>"
            style="font-size: 15px"
            >Add to Wishlist</a
          >
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>


<%- include('../partials/footer') %>